body {
  background-color: black;
  color: white;
  font-size: 20PX;
}

h3 {
  color: maroon;
}

h2 {
  font-size: 50px;
}

.jumbotron {
  background-color: yellow;
  color: black;
  text-align: center;
}

#orderSum {
  display: none;
}
