body {
  background-color: ;
  color: maroon;
  font-size: 20PX;
  font-family: monospace;
}

h3 {
  color:blue;
  font-weight: bold;
}

h2 {
  font-size: 50px;
}

.jumbotron {
  background-color: maroon;
  color: white;
  text-align: center;
}

#orderSum {
  display: none;
}
